body{
  margin: 0;
  background-color: #CFD0CF;
}

.header{
  outline: none;
  margin:40px 0;
  text-align: center;
  font-family: Arial;
  flood-color: #434344;
  font-size: 42px;
  line-height: 47px;

}
.card_box{
  margin: 0 auto;
  width: 595px;
  height: 440px;
  display: grid;
  grid-template-rows: repeat(3,130px);
  grid-template-columns: repeat(4,130px);
  grid-gap: 25px;
}
.card{
  cursor: pointer;
  display: flex;
  outline: none;
  perspective: 600px;
  width: 135px;
  height: 135px;
  border-radius: 9px;
  border: white solid 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  background: linear-gradient(45deg,#22AB93,#19668D);
}
.label{ margin: 12px auto;
  visibility: hidden;
  cursor: pointer;
}
.go {
  outline: none;
  animation: rotate linear 1s  0s forwards   ;
}
.go_pick{
  animation: visibility linear 1s  600ms forwards ;
  font-size: 75px;
}
.right_static{
  animation: right_static 1ms forwards;
}
.go_back{
  animation:reversrotate linear 1s  forwards ;
}
.go_back_pick{font-size: 75px;
  animation: nonvisibility linear 0.5s    backwards ;
}
.right_torn{
  animation: rotate_right linear 1s  0s forwards;
}
.rotate_wrong{
  animation: rotate_wrong linear 1s  0s forwards;
}
.wrong_static{
  animation: wrong_static 1ms forwards;
}
.go_back_wrong{
  animation:reversrotatewrong linear 1s  forwards ;
}
.timer{
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin: 30px auto;
  height: 32px;
  font-family: Arial;
  line-height: 36px;
}
.alert{
  position: absolute;
  background-color: white;
min-width: 350px;
  display: flex;
  flex-direction: column;
}
.text{
  margin: 30px auto;
  font-size: 48px;
  justify-content: center;
  font-family: Arial;

}
.button_text{
  font-size: 20px;
  margin: 10px 33px;
  font-family: Arial;
  color: white;
}
.play_again{
  border: none;
box-shadow: 1px 1px 8px;
  outline: none;
  border-radius: 17px;
  background: linear-gradient(135deg,#22AB93,#19668D);
  padding: 0;
  width: 60%;
  display: inline-block;
  margin: 10px auto;
  margin-bottom: 30px;
  height: 40px;
}

@keyframes right_static {
  from{transform: rotateY(180deg);
    background:white}
  to{  background: #5AD66F;
    border: solid 5px #5AD66F;}

}
@keyframes wrong_static {
  from{transform: rotateY(180deg);
    background:white}
  to{  background: #F44336;
    border: solid 5px #F44336;}

}
@keyframes rotate {

  to{transform: rotateY(180deg);
    background:white;
  }
}
@keyframes rotate_right {

  to{transform: rotateY(180deg);
    background: #5AD66F;
    border: solid 5px #5AD66F;
  }
}
@keyframes rotate_wrong {

  to{transform: rotateY(180deg);
    background: #F44336;
    border: solid 5px #F44336;
  }
}
@keyframes reversrotate {
  from{transform: rotateY(180deg);
    background:white;}
  to{transform: rotateY(360deg);
    background:linear-gradient(45deg,#22AB93,#19668D);;
  }
}
@keyframes reversrotatewrong {
  from{transform: rotateY(180deg);
    background: #F44336;
    border: solid 5px #F44336;}
  to{transform: rotateY(360deg);
    background:linear-gradient(45deg,#22AB93,#19668D);;
  }
}

@keyframes visibility {
  to{
    visibility: visible;
  }
}
@keyframes nonvisibility {
  from{visibility: visible}
  to{
    visibility: hidden;
  }
}
